body,
html{
    height: 100%;
    background-color: var(--surface);
}
.app-main{
    height: 100%;
    grid-template-columns: 250px 1fr;
}

/* app sidebar */

.app-sidebar{
    background-color: var(--surface-dark);
    grid-row: 1 / -1;
}
.sidebar__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-4);
    color: var(--text-muted);
}
.sidebar__list{
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}
.sidebar__footer{
    margin-bottom: var(--space-6);
    align-items: center;
    margin-top: auto;
}
.app-sidebar > div {
    padding: var(--space-3) var(--space-9);
}
.sidebar__logo p{
    color: var(--text);
    width: var(--fw-medium);
    font-size: var(--fs-2xl);
    margin-top: var(--space-3);
}

/* icon */
.icon{
    fill: currentColor;
    width: 20px;
    height: 20px;
}
.sidebar__item p{
    font-size: var(--fs-md);
}
.sidebar__item:hover {
    color: var(--text);
    cursor: pointer;
}
.sidebar__item .sidebar__list{
    border-left: 1px solid var(--border-dark);
    padding-left: var(--space-5);
    margin-left: var(--space-3);
}
.sidebar__footer{
    color: var(--text);
}
.sidebar__footer .icon{
    height: 12px;
    width: 12px;
    stroke: currentColor;
}
.sidebar__footer span{
    font-size: var(--fs-md);
}
.sidebar__footer p{
    font-size: var(--fs-lg);
}

/* app Content Email list v2 */


/* 1== contact topbar */
.app-content > div{
    padding: 0 var(--space-9);
}
.contact__topbar{
    margin-top: var(--space-4);
    align-items: center;
}
.contact__avatar{
    gap: 32px;
}
.avatar-info{
    align-items: center;
}

/* Avatar */
.avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    object-position:top center;
    border-radius: 50%;
}
.avatar-info svg{
    width: 16px;
    height: 16px;
    color: var(--text);
}
.avatar-info p{
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    color: var(--text);
}
.avatar-help{
    color: var(--text-muted);
    align-items: center;
}
.avatar-help p{
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
}
.contact__search ,
.search-box ,
.search-icon {
    align-items: center;
}
.search-box svg{
    color: #AFAFAF;
}
.search-box input{
    border: none;
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
}
.search-box input::placeholder{
    color: #AFAFAF;
}
.search-box input:focus {
    outline: none;            
}
.search-icon div{
    width: 20px;
    height: 20px;
    color: var(--text-muted);
    background-color: var(--surface-dark);
    padding: 4px;
    border-radius: var(--radius-sm);
    font-size: var(--fs-md);
    font-weight: var(--fw-semiBold);
}
.contact__search{
    border: 1px solid var(--border-dark);
    border-radius: var(--radius-md);
    padding: var(--space-1) var(--space-5);
}

/* 2== contact  filters */

.contact__filters{
    align-items: center;
}
.contact__filters-title{
    font-size: var(--fs-3xl);
}

/* button dark */

.btn--secondary-dark {
  background: transparent;
  border: 1px solid var(--text);
  color: var(--text);
}
.btn--secondary-dark:hover{
  background: var(--text);
  color: white;
}
.icon-plus{
    width: 14px;
    height: 14px;
}

/* 3== contact email list v2*/

.contact__nav ,
.contact__nav-list ,
.contact__nav-item ,
.contact__nav-icon ,
.inbox__header ,
.inbox__header-icon ,
.inbox__message-item ,
.content__sort-item{
    align-items: center;
}
.contact__nav-item{
    padding:var(--space-6) ;
    color: var(--text-muted);
    transition: all 0.2s ease;
}
.contact__nav-item p,
.contact__nav-icon p{
    font-size: var(--fs-md);
}
.contact__nav-icon{
    color: var(--text-muted);
}
.contact__nav-item .badge{
    color: var(--text);
    background-color: var(--surface-dark);
}
.contact__nav-item:hover {
    color: var(--text);
    cursor: pointer;
    border-bottom: 2px solid var(--text);
}
.contact__nav-item:hover .badge{
    background: rgba(245, 11, 11, 0.1);
    color: var(--error);
}
.contact__inbox {
    margin: var(--space-9) 0;
    gap: var(--space-8);
}
.inbox__header{
    gap: var(--space-8);
    padding-left: var(--space-6);
}
.header__icon-left{
    color: var(--text-muted);
}
.inbox__header p{
    font-size: var(--fs-2xl);
}
.inbox__header span{
    font-size: var(--fs-md);
    color: var(--text-muted);
}
.inbox__message-item{
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    padding: var(--space-6);
    color: var(--text-muted);
}
.inbox__message-item p{
    font-size: var(--fs-lg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inbox__message-item span{
    color: var(--text);
}
.inbox__pagination > .btn{
    background-color: var(--surface-dark);
    color: var(--text-muted);
}
.inbox__pagination > .btn:hover{
    color: var(--text);
}
.pagination_number button:hover{
    background-color: var(--text);
    color: white;
}
.contact__inbox{
    position: relative;
}
.content__sort{
    position: absolute;
    top: -20px;
    right: var(--space-9);
    width: 280px;
}
.content__sort .search-box{
    border: 1px solid var(--border-dark);
    border-radius: var(--radius-md);
    align-items: center;
    padding: 0 var(--space-3);
}
.content__sort .btn{
    width: 100%;
}
.content__sort-item p{
    font-size: var(--fs-md);
    color: var(--text-muted);
}
